@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
}

/* background-color: #222831; */

/* Header */
.header-container {
  font-size: 14px;
  margin-bottom: 2em;

  top: 0;
  text-align: right;

}

.header-text {
  font-family: 'Mukta', sans-serif;
  color: #393E46;
  margin-top: 0;
}


/* Main */

.task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;

  flex-direction: column;
}

.task-input {
  font-size: 28px;
  border-radius: 3px;
  outline: none;
  border: none;
}



/* Footer */

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1em;

}