@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {
  --font-color: #333;
  --background-color: #eee;
  --link-color: cornflowerblue;
}

/* 2 */
[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #333;
  --link-color: lightblue;
}




* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: var(--background-color);
  height: 100%;
  position: relative;
}

/* background-color: #222831; */

/* Header */
.header-container {
  font-size: 14px;
  top: 0;
  text-align: right;
  display: flex;
  justify-content: space-between;

}

.header-text {
  font-family: 'Ubuntu', sans-serif;
  color: #73777B;
  margin-top: 0;
  letter-spacing: 1px;
  padding: .6em;
  cursor: default;
}

.info-btn {
  background-color: transparent;
  height: 25px;
  outline: none;
  border: none;
  font-size: 32px;
  padding: .5em 1em;
  color: rgba(0, 0, 0, .4);
  cursor: pointer;
}


/* Form */

.task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.task-input {
  font-size: 26px;
  border-radius: 40px;
  outline: none;
  border: none;
  background-color: #eef4f7;
  position: relative;
  width: 100%;
  height: 2em;
  padding: .6em;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  
  
}


.add-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 36px;
  right: .7em;
  cursor: pointer;
  color: #1f497d;
}


/* List title */
.list-title {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.remaining-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #73777B;
}

/* Filter buttons */


.filter-list {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
 
}



.filter-btn {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}



/* Task list */

.task-list {
  list-style: none;
  margin-right: 1.2em;
  margin-top: 1.5em;
  margin-left: 0;
 padding-left: 1em;
}

.task-item {
  padding: 1.1em;
  margin-bottom: .8em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.task-container {
  display: flex;
  justify-content: space-between;
  
}


.edit-form {
  display: flex;
}

.taskComplete {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.left-side {
  margin-top: .4em;
  display: flex;
align-items: center;
}


 .todo-label {
  font-family: 'Unbuntu', sans-serif;
  color: #73777B;
  font-weight: bolder;
  font-size: 19px;
  margin-left: 1.2em;
  
}

.todo-label.taskComplete {
  opacity: .5;
}



.task-btn {
  margin-left: 1em;
 border: #457dae;
  border-radius: 15px;
  background-color: #1f497d;
  padding: .9em 1.1em .9em 1.1em;
  cursor: pointer;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* Checkbox css */
.checkbox {
  -ms-transform: scale(1.6); /* IE */
  -moz-transform: scale(1.6); /* FF */
  -webkit-transform: scale(1.6); /* Safari and Chrome */
  -o-transform: scale(1.6); /* Opera */
  transform: scale(1.6);
}




/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 22px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
